.footer {
  background:var(--background-color);
  width: 100%;
  padding: 20px 0px;
  font-weight: 600;
  border-top: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 0px;
}
.img{
  height: 18px;
  width: 18px;
}
.contactos{
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.contacto{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.link{
  color: var(--primary-color);
}
@media (min-width: 768px) {
  .footer{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .contactos{
  display: flex;
  flex-direction: column;
}
  
}