.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #edd8bb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.contimg{
    display: flex;
    align-items: center;
}
.img{
    height: 150px;
    width: 300px;
    border-radius: 5px 5px 0px 0px;
}
.title{
    padding: 5px 10px;
    font-weight: 600;

}
.descripcion{
    padding: 5px 10px;
}