.card{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #6C5F5B;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* animation: slideDown 1s ease-out forwards; */
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}
.conttitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    border-bottom: 2px solid #CDAB81;
    color: #CDAB81;
}

.statustexto{
    font-weight: 600;
}
.title{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}
.descripcion{
    padding: 10px;
    margin: 0px;
}
.contimg{
    display: flex;
    align-items: center;
    padding: 10px;
}
.contenedorInfo{
    display: flex;
    flex-direction: row;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.status {
  padding: 10px 10px 10px 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}


.statusicon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
}


.inprogress .statusicon {
  background-color: #0099FF;
  box-shadow: 0 0 6px #0099FF;
}
.inprogress .statustexto {
  color: #0099FF;
  text-shadow: 0 0 6px #0099FF;
}

.done .statusicon {
  background-color: #00FF00;
  box-shadow: 0 0 6px #00FF00;
}
.done .statustexto {
  color: #00FF00;
  text-shadow: 0 0 6px #00FF00;
  
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

