.card{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: var(--background-color);
    border-radius: 10px;
    /* box-shadow: 0px 10px 15px var(--secondary-color); */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px var(--primary-color);
}

.img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
}
.conttitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--primary-color);
}

.statustexto{
    font-weight: 600;
}
.title{
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
}
.descripcion{
    padding: 10px;
    margin: 0px;
}
.contimg{
    display: flex;
    align-items: center;
    padding: 10px;
}
.contenedorInfo{
    display: flex;
    flex-direction: row;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.status {
  padding: 10px 10px 10px 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.statusicon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--secondary-color);

}
.inprogress .statusicon {
  background-color: var(--Status-InProgress);
  box-shadow: 0 0 5px var(--Status-InProgress);
}
.inprogress .statustexto {
  color: var(--Status-InProgress);
  text-shadow: 0 0 5px var(--Status-InProgress);
}

.done .statusicon {
  background-color: var(--Status-Done);
  box-shadow: 0 0 5px var(--Status-Done);
}
.done .statustexto {
  color: var(--Status-Done);
  text-shadow: 0 0 5px var(--Status-Done);
  
}
