.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  background-color: var(--background-color);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px var(--primary-color);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--primary-color);
}
.title {
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.bodyCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contimg {
  padding: 20px;
  display: flex;
  align-items: center;
}
.img {
  height: auto;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.datos {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 20px 0px;
}
.descripcion {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 10px;
}
.descripcion p{
  margin:0px;
}
.Links {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.link {
  color: var(--primary-color);
  font-weight: 600;
}
.herramientas {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.herramienta {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}
.imgherramienta {
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  .bodyCard {
    flex-direction: row;
  }
  .img {
    height: 250px;
    width: 250px;
  }
  .herramientas {
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
  }
  .Links {
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
  }
}
