.header {
  background:#4F4A45;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 2px solid #DAC3B3;
  /* animation: slideDown 1s ease-out forwards; */
}

.ul {
  margin: 0px 0px 0px 10px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.ul .li {
  float: left;
  cursor: pointer;
}

.ul .li .a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ul .li .a:hover {
  background-color: #6C5F5B;
  border-radius: 10px;
}
.a{
  font-weight:700;
  
}

/* @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/