.header {
  background:#e2aa87;
  width: 100%;
  text-align: left;
  padding: 20px 0px 20px 0px;
}

.ul {
  margin: 0px 0px 0px 10px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.ul .li {
  float: left;
  cursor: pointer;
}

.ul .li .a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ul .li .a:hover {
  background-color: #edd8bb;
  border-radius: 5px;
}
.a{
  font-weight:700;
}