.contPrincipal{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;    
    flex: 1;
}

.accordionitem {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.accordionheader {
  background-color: #CDAB81;
  font-weight: 600;
  padding: 14px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s;
  color: #4F4A45;
  display: flex;
  justify-content: space-between;
  
}
.accordionheader:hover {
  background-color: #DAC3B3;
}

.accordioncontent {
  background-color: #DAC3B3;
   max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
}

.accordioncontent.active {
  max-height: 400px; 
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.card {
  background:#DAC3B3;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.imgHerramienta {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.accordionicon {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.rotated {
  transform: rotate(90deg);
}
.active {
  max-height: 1000px;
  padding: 15px 0; 
}