@import './themes.css';

body{
    background-color: var(--background-color);
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-color) ;
}
html, body {
  height: 100%;
  margin: 0;
}
