:root {
  --background-color-light: #FFFFFF;
  --text-color-light: #121212;
  --primary-color-light: #EA4335;
  --secondary-color-light: #E7E7E7;

  --background-color-dark: #121212;
  --text-color-dark: #FFFFFF;
  --primary-color-dark: #EA4335;
  --secondary-color-dark: #282828;

  --Status-Done: #0F9D58;
  --Status-InProgress: #4285F4;
  --Status-InProgress: #F4B400;
}

body.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);

}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
}
